.App {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-item {
 display: flex;
  flex-direction: row;
  align-items: center;
}
.input-text {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
}

.task-list{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  margin: 7px;
  padding: 10px;
}
.task-item h4 {
  margin: 0;
  padding-right: 40px;
}